@import '~antd/dist/antd.css';
$padding: 24px;

.content-container{
  padding: $padding;
  background: #fff;
}

.ant-tabs {
  overflow: auto;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
  min-height: 32px;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}

.ant-descriptions-item-label {
  white-space: nowrap;
}

.pyramid-form {
  .pyramid-form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
  }
  .ant-input-number{
    width: 100%;
  }
  .ant-form-item{
    margin-bottom: 8px;
  }
}